@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

* {
  box-sizing: border-box;
  font-family: "Armata", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}